@model Clayton.Models.DashboardViewModel

<div id="DashboardContainer">
    <h3>Active Posts</h3>
    <a class="btn btn-primary dashboardBtn" asp-controller="Dashboard" asp-action="AddPost">New Post</a>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Post Title</th>
                <th>Post Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var post in Model.Posts.Where(x => !x.DeletedDate.HasValue))
            {
                <tr>
                    <td>@post.Title</td>
                    <td>@post.Createdate</td>
                    <td>
                        <a class="btn btn-sm btn-primary" asp-controller="Dashboard" asp-action="EditPost" asp-route-postId="@post.PostId">Edit</a>
                        <a class="btn btn-sm btn-danger" asp-controller="Dashboard" asp-action="DeletePost" asp-route-postId="@post.PostId">Delete</a>
                    </td>
                </tr>

            }
        </tbody>
    </table>

    <h3>Recently Deleted</h3>

    @if (Model.Posts != null && Model.Posts.Where(x => x.DeletedDate.HasValue).Count() > 0)
    {
        <table class="table table-danger">
            <thead>
                <tr>
                    <th>Post Title</th>
                    <th>Deleted Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var post in Model.Posts.Where(x => x.DeletedDate.HasValue))
                {


                    <tr>
                        <th>@post.Title</th>
                        <td>@post.DeletedDate</td>
                        <td>
                            @*<a class="btn btn-sm btn-danger postHardDelete" data-postid="@post.PostId" href="">Hard Delete</a>*@
                            <a class="btn btn-sm btn-danger" asp-controller="Dashboard" asp-action="HardDelete" asp-route-postId="@post.PostId">Hard Delete</a>
                            <a class="btn btn-sm btn-danger" asp-controller="Dashboard" asp-action="RevivePost" asp-route-postId="@post.PostId">Revive Post</a>
                        </td>
                    </tr>

                }
            </tbody>
        </table>
    }
    else
    {
        <p>You have not deleted anything recently.</p>
    }

    <h3>Categories</h3>

    <a class="btn btn-primary dashboardBtn" asp-controller="Dashboard" asp-action="AddCategory">Add Category</a>


    @if (Model.Categories != null && Model.Categories.Count > 0)
    {
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Category Name</th>
                    <th>Posts in Category</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var category in Model.Categories)
                {
                    <tr>
                        <td>@category.Title</td>
                        <td>
                            @if (category.PostCategory != null && category.PostCategory.Count > 0)
                            {
                                <p>@category.PostCategory.Count</p>
                            }
                            else
                            {
                               <p>0</p>
                            }
                        </td>
                        <td>
                            <a class="btn btn-sm btn-danger" asp-controller="Dashboard" asp-action="DeleteCategory" asp-route-categoryId="@category.CategoryId">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>You have not created any categories.</p>
    }
</div>
