@{ 
    Layout = null;
}

@model Clayton.Models.HomeViewModel
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Identity.EntityFrameworkCore
@inject SignInManager<IdentityUser> SignInManager


@foreach (var post in Model.Posts.Where(x => !x.DeletedDate.HasValue && x.Active).OrderByDescending(x => x.CreateDate))
{
    <div class="blogEntry">
        <h3>
            <a href="@Url.RouteUrl("PostWithSlug", new { id = post.PostId, slug = post.Slug })">@post.Title</a>
        </h3>
        <p class="postDetails"><i class="fa fa-calendar" aria-hidden="true"></i> @post.CreateDate.ToString("MM/dd/yyyy")</p>

        @if (post.PostCategory != null)
        {
            <p class="postDetails">
                <i class="fa fa-hashtag" aria-hidden="true"></i>

                @foreach (var cat in post.PostCategory)
                    {
                    <span class="postCategory">
                        <a href="@Url.RouteUrl("CategoryWithPosts", new { id = cat.CategoryId, categoryTitle = cat.Category.Title })">@cat.Category.Title</a>
                    </span>
                    }
            </p>
        }

        @if (SignInManager.IsSignedIn(User))
        {
            <p class="postDetails">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                <a asp-controller="Dashboard" asp-action="EditPost" asp-route-postId="@post.PostId">Edit</a>
            </p>
        }

        <div class="postContent">
            <img src="@post.DescriptionPicture" />
            <p>@post.Description</p>
        </div>
    </div>

}