
@model Clayton.Models.HomeViewModel


@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Identity.EntityFrameworkCore
@inject SignInManager<IdentityUser> SignInManager


@*<div class="jumbotron">
    <h1>Welcome</h1>
    <p class="lead">I like code. Sometimes I learn fun things and feel like writing. Mostly so I'll remember the second time 
    I need to do something, but also to share so you'll know the first time.
    </p>

    <p>Need to look into the PostIds not going up from 1.</p>
</div>*@

<div id="blogposts">
    @foreach (var post in Model.Posts.Where(x => !x.DeletedDate.HasValue))
    {
        <div class="blogEntry">
            <h3>@post.Title</h3>
            <p class="postDetails"><i class="fa fa-calendar" aria-hidden="true"></i> @post.Createdate.ToString("MM/dd/yyyy")</p>

            @if (post.PostCategory != null)
            {
                <p class="postDetails">
                    <i class="fa fa-hashtag" aria-hidden="true"></i>

                    @foreach (var cat in post.PostCategory)
                    {
                        <span class="postCategory">@Html.Raw(cat.Category.Title)</span>
                    }
                </p>
            }

            @if (SignInManager.IsSignedIn(User))
            {
                <p class="postDetails">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    <a asp-controller="Dashboard" asp-action="EditPost" asp-route-postId="@post.PostId">Edit</a>
                </p>
            }
            


            <div class="postContent">
                @Html.Raw(post.Content)
            </div>
        </div>
        
    }
</div>
   
