@model Clayton.Models.Category
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Identity.EntityFrameworkCore
@inject SignInManager<IdentityUser> SignInManager


<div class="container">
    <div class="row">

        <div class="col-9">

            <div id="blogposts">

                @if (!String.IsNullOrEmpty(ViewBag.Error))
                {
                    <div class="alert alert-danger" role="alert">
                        <strong>Oh snap!</strong> @ViewBag.Error
                    </div>
                }
                else
                {
                    <h3>Viewing posts in: @Model.Title</h3>

                    @foreach (var postCategory in Model.PostCategory.Where(x => !x.Post.DeletedDate.HasValue && x.Post.Active))
                    {
                        <div class="blogEntry">
                            <h2>
                                <a href="@Url.RouteUrl("PostWithSlug", new { id = postCategory.Post.PostId, slug = postCategory.Post.Slug })">@postCategory.Post.Title</a>
                            </h2>
                            <div class="blogEntryDetails">
                                <p class="postDetails"><i class="fa fa-calendar" aria-hidden="true"></i> @postCategory.Post.CreateDate.ToString("MM/dd/yyyy")</p>

                                @if (postCategory.Category.PostCategory != null)
                                {
                                    <p class="postDetails">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i>

                                        @foreach (var cat in postCategory.Post.PostCategory)
                                        {
                                            <span class="postCategory">
                                                <a href="@Url.RouteUrl("CategoryWithPosts", new { id = cat.CategoryId, categoryTitle = cat.Category.Title })">@cat.Category.Title</a>
                                            </span>
                                        }
                                    </p>
                                }

                                @if (SignInManager.IsSignedIn(User))
                                {
                                    <p class="postDetails">
                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                        <a asp-controller="Dashboard" asp-action="EditPost" asp-route-postId="@postCategory.Post.PostId">Edit</a>
                                    </p>
                                }
                            </div>



                            <div class="postContent">
                                <img src="@postCategory.Post.DescriptionPicture" />
                                <p>@postCategory.Post.Description</p>
                            </div>
                        </div>

                    }
                }
            </div>
           
        </div>

        <div class="col-3" id="BlogSidebar">

            @await Component.InvokeAsync("SidebarCategories")

        </div>

    </div>
</div>

